<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Tech Blog</title>
  <link rel='stylesheet' type='text/css' href='/css/jass.css'>
  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body>

  <!-- Navigation -->
  <nav>
    <a href='/'>Home</a>
    <a href='/dashboard'>Dashboard</a>
    <!-- If the user is logged in, show a logout button -->
    {{#if loggedIn}}
    <button id='logout' class='btn-no-style'>Logout</button>
    <!-- Otherwise, show a link to login -->
    {{else}}
    <a href='/login'>Login</a>
    {{/if}}
  </nav>

  <!-- Header -->
  <header>
    <h1>{{pageTitle}}</h1>
  </header>

  <!-- Main Content Area -->
  <main>
    <div class='posts'>
      {{{body}}}
    </div>
  </main>

  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if loggedIn}}
  <script src='/js/logout.js'></script>
  {{/if}}
</body>

</html>